In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/telco.csv")
df.shape, df.head(3)

((7043, 21),
    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
 0  7590-VHVEG  Female              0     Yes         No       1           No
 1  5575-GNVDE    Male              0      No         No      34          Yes
 2  3668-QPYBK    Male              0      No         No       2          Yes

       MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
 0  No phone service             DSL             No  ...               No
 1                No             DSL            Yes  ...              Yes
 2                No             DSL            Yes  ...               No

   TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
 0          No          No              No  Month-to-month              Yes
 1          No          No              No        One year               No
 2          No          No              No  Month-to-month              Yes

       PaymentMethod MonthlyCharges  TotalCharges Churn
 0  Electronic check          29.85         29.85    No
 1      Mailed check          56.95        1889.5    No
 2      Mailed check          53.85        108.15   Yes

 [3 rows x 21 columns])

In [2]:
df["Churn"].value_counts(dropna=False), df["Churn"].value_counts(normalize=True)

(Churn
 No     5174
 Yes    1869
 Name: count, dtype: int64,
 Churn
 No     0.73463
 Yes    0.26537
 Name: proportion, dtype: float64)

In [3]:
missing = df.isna().mean().sort_values(ascending=False)
missing[missing > 0].head(20)

Series([], dtype: float64)

In [4]:
df.dtypes

customerID              str
gender                  str
SeniorCitizen         int64
Partner                 str
Dependents              str
tenure                int64
PhoneService            str
MultipleLines           str
InternetService         str
OnlineSecurity          str
OnlineBackup            str
DeviceProtection        str
TechSupport             str
StreamingTV             str
StreamingMovies         str
Contract                str
PaperlessBilling        str
PaymentMethod           str
MonthlyCharges      float64
TotalCharges            str
Churn                   str
dtype: object

In [5]:
df.describe(include="number").T.head(20)
(df.select_dtypes(include="object").nunique().sort_values(ascending=False)).head(20)

/tmp/ipykernel_4409/305433250.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  (df.select_dtypes(include="object").nunique().sort_values(ascending=False)).head(20)

customerID          7043
TotalCharges        6531
PaymentMethod          4
Contract               3
MultipleLines          3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
OnlineSecurity         3
InternetService        3
StreamingTV            3
StreamingMovies        3
gender                 2
PhoneService           2
Dependents             2
Partner                2
PaperlessBilling       2
Churn                  2
dtype: int64

In [6]:
(df["TotalCharges"].astype(str).str.strip() == "").sum()

np.int64(11)

In [7]:
tc = pd.to_numeric(df["TotalCharges"], errors="coerce")
tc.isna().sum(), tc.describe()

(np.int64(11),
 count    7032.000000
 mean     2283.300441
 std      2266.771362
 min        18.800000
 25%       401.450000
 50%      1397.475000
 75%      3794.737500
 max      8684.800000
 Name: TotalCharges, dtype: float64)